.wy-nav-content {
  max-width: none;
}
.rst-content table.docutils {
  width: 100%;
  table-layout: fixed;
}
.rst-content table.docutils td {
  vertical-align: top;
}
.rst-content code {
  font-size: 10px;
}
